* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    font-family:times new roman, times, arial;
}

@font-face {
    font-family: kornucopia;
    src:url(kornucopia.ttf);
}


body a {
    text-decoration: none;
    font-weight: bold;
}

header {
    background-color:black;
    position:sticky;
    top:0;
    z-index:5;
}

header nav a {
    color: white;
    transition:color 1s, text-decoration 1s;
}

header nav a:hover {
    color: #c43a06;
    text-decoration: underline;
}

nav {
    height:50px;
    display: flex;
    flex-flow: row;
    align-items:center;
    justify-content:space-between;
}

nav ul {
    list-style: none;
    display: flex;
    flex-flow: row;
    justify-content: space-around;
    align-items:center;
    font-size:1em;
    float:right;
    gap:40px;
}

.navlogo {
    height:60px;
}

.navtextlogo {
    font-family:rubik dirt;
    filter:invert(100);
    font-size:3em;
}

.navitems {
    display:flex;
    justify-content:space-between;
    align-items:center;
    width:100%;
    
}

#menu {
    display: none;
}

.hamburger {
    display: none;
}

.title {
    font-family: kornucopia;
    color:white;
    text-align: center;
    font-size: 300px;
    padding-top:100px;
    filter:saturate(200%) opacity(70%)
}


.mainsection {
    background-image: linear-gradient(to bottom, #101419 ,#9b3d12);
    color:#c6c4a9;
}

.titlecard {
    background-image: url(images/korn.gif);
    height: 600px;
    background-repeat: no-repeat;
    background-size: cover;
    filter: sepia(50%);
}

footer {
    color:#c6c4a9;
    background-color:#101419;
    width:100%;
    height:auto;
}

.carousel {
    width:100%;
    margin-left:auto;
    margin-right:auto;
}

.carousel-item {
    height:500px;
}

.gallerytitle {
    font-family:rubik dirt, times new roman, times;
    font-size: 4em;
}

.titleartist {
    font-family:rubik dirt, times new roman, times;
    font-size: 4em;
}

.scrollbar {
    position:fixed;
    bottom:0;
    right:0;
    width:150px;
    background-color:#c6c4a9;
    border-radius:10px;

}

.timeline {
    border-left:solid 6px #101419;
    position:relative;
}

.iconthing {
    position:absolute;
    left:-17px;
    color:#c43a06;
}

.timeline h4 {
    font-size:3em;
    font-family:rubik dirt;

}

.fred {
    position:fixed;
    bottom:0;
    right:0;
    z-index:5;
    height:400px;
}

.imagepop {
    transition:transform 2s;
}

.imagepop:hover {
    transform:scale(1.05);
    transition:transform 2s;
}

.gallerypop {
    transition:filter 1s;
}

.gallerypop:hover {
    filter:saturate(180%);
    transition:filter 1s;
}

@media (max-width: 760px) {
    #menu:checked + .hamburger + .menuitems {
        display: flex;
    }

    nav p {
        display:none;
    }
    
    nav {
        display:flex;
        flex-flow:row;
        justify-content:center;
    }

    .navlogo {
        display:none;
    }

    .hamburger {
        display: block;
        text-align: center;
        color:#9b3d12;
        font-size:40px;
        transition:color 1s
    }

    .hamburger:hover {
        color: #c43a06;
    }


    .menuitems {
        display: none;
        flex-direction: column;
        background-color:black;
        text-align: center;
        position: absolute;
        padding: 10px;
        gap: 20px;
        width: 100%;
        left: 0;
        z-index: 1;
        top:70px;
        
    }

    nav ul {
        display:flex;
        justify-content:center;
        align-items:center;
        margin-right:10%
    }

    .titlecard {
        height:300px;
    }

    .title {
        font-size:12em;
        padding-top:20px;
    }

    .reversemobile {
        display:flex;
        flex-flow:column-reverse
    }

    .textbox {
        text-align:center;
        padding-top:20px;
    }

    .carousel-item {
    height:250px;
    }

    .fred {
    display:none;
    }
    
}
